<!-- Navigation Bar on the top which navigates to the tabs using the ngRoutes in app.js -->

<div class="nav">
    <ul>
        <li><a href="#/cookware">COOKWARE</a></li>
        <li><a href="#/cooks-tools">COOK'S TOOLS</a></li>
        <li><a href="#/cutlery">CUTLERY</a></li>
        <li><a href="#/electronics">ELECTRONICS</a></li>
        <li><a href="#/bakeware">BAKEWARE</a></li>
        <li><a href="#/food">FOOD</a></li>
        <li><a href="#/tabletop-glassware-bar">TABLETOP & BAR</a></li>
        <li><a href="#/homekeeping">HOMEKEEPING</a></li>
        <li><a href="#/outdoor">OUTDOOR</a></li>
        <li><a href="#/sale-special-offer">SALE</a></li>
        <li><a href="#/">WILLIAMS SONOMA HOME</a></li>
    </ul>
</div>
